<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.walkpos.wpospad" >

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--是否只能在支持BLE 机器上运行-->
    <!--<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 可选权限： -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".main.WPosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TransparentAppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginIdentyActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".login.RegisterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".login.VerifyDetailActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".login.VerifyMidActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".login.VerifyPicActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".login.VerifyStatusActivity"
            android:screenOrientation="landscape"/>


        <activity android:name=".main.MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".main.SettingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".main.StaffManageActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".store.AddProductActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".store.CategoryManageActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".store.StoreManageActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".zxing.android.CaptureActivity"
            android:screenOrientation="landscape"/>

        <!--收款-->
        <activity android:name=".cashdesk.CashdeskActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".money.MoneyManageActivity"
            android:screenOrientation="landscape"/>

        <!--thirdpart-->
        <activity android:name=".thirdapi.WeiboShareResponseActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="landscape"/>

        <!-- QQ登录 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100273020" />
            </intent-filter>
        </activity>
        <!-- QQ登录 -->

    </application>

</manifest>
